.idea/
__pycache__/
*.csv
.DS_Store

geckodriver.log

src/*
!src/main.py
!src/utils.py
!src/tile_scraper.py

legacy/*
!legacy/old_maigit n.py
!legacy/utils.py

assets/aoi/*
!large-wrington.dbf
!large-wrington.prj
!large-wrington.shp
!large-wrington.shx

assets/uk_raster/*
!uk_subset_5km_raster.dbf
!uk_subset_5km_raster.prj
!uk_subset_5km_raster.shp
!uk_subset_5km_raster.shx

assets/output_tiles/*
!__init__.py

experimentation/*
!experimentation/subsample_uk_raster.ipynb
!experimentation/minimum_selenium_example.ipynb



